.container-form {
    height: 80%;
    position: relative;
}
.form-signup > label {
    margin-top: 20px;
}
.form-signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}